body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, input, form, a, p {
	margin: 0;
	padding: 0;
	font-family: Helvativa, Ariel, sans-serif;
}

ul, ol, li {
	list-style: none;
}

img {
	border: 0;
	display: block;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #eee;
}

.container {
	position: relative;
	margin: 0 auto;
	width: 1170px;
}

.clearfloat {
	zoom: 1;
}

.clearfloat:after {
	display: block;
	content: "";
	height: 1px;
	visibility: hidden;
	clear: both;
}

header {
	position: relative;
	margin: 0;
	height: 800px;
	width: auto;
	background: url('../images/bg.jpg') no-repeat 0px 0px;
	background-size: cover;
}

header .header-logo {
	height: 100px;
	padding-top: 10px;
}

header .header-logo .logo-img {
	float: left;
	height: 100px;
	width: 100px;
	margin-top: 10px;
}

header .header-logo .nav {
	float: right;
	margin-top: 16px;
	margin-right: 10px;
}

header .header-logo .nav .nav-item {
	float: left;
	padding: 10px;
	font-size: 18px;
	font-weight: 700;
}

header .header-info {
	margin-top: 200px;
	color: #eee;
	text-align: center;
}

header .header-info h3 {
	font-size: 34px;
	font-family: Times;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 1px;
	color: #ddd;
}

header .header-info h1 {
	font-size: 100px;
	margin-bottom: 30px;
	color: #efefef;
}

header .header-info a {
	font-size: 18px;
	font-weight: 600;
	padding: 20px 50px;
	background-color: #30788b;
}

footer {
	position: relative;
	height: 100px;
	background: #f7f7f7;
}

footer .footer-logo {
	float: left;
	margin-top: 14px;
	height: 80px;
	width: 100px;
	background: url('../images/f_logo.png') no-repeat;
}

footer .copyright {
	float: right;
	margin-top: 46px;
}

.index-info {
	position: relative;
	margin: 100px 0;
	padding: 20px auto;
}

.index-info .index-info-item {
	float: left;
	width: 360px;
	padding: 0 15px;
	text-align: center;
}

.index-info .index-info-item .icon1 {
	width: 128px;
	height: 111px;
	background: url(../images/img-resources.png) no-repeat 8px 0px;
	display: inline-block;
}

.index-info .index-info-item .icon2 {
	width: 128px;
	height: 111px;
	background: url(../images/img-resources.png) no-repeat -130px 0px;
	display: inline-block;
}

.index-info .index-info-item .icon3 {
	width: 128px;
	height: 111px;
	background: url(../images/img-resources.png) no-repeat -272px 0px;
	display: inline-block;
}

.index-info .index-info-item p {
	margin-top: 10px;
	line-height: 1.5;
	color: #3b3b3b;
}

.index-app {
	position: relative;
	height: 660px;
	background: #f7f7f7;
}

.index-app .app-info, .index-app .app-img{
	float: left;
	width: 560px;
	padding: 200px 10px;
	letter-spacing: 1px;
	line-height: 1.2;
}

.index-app .app-img img {
	margin-top: -58px;
}

.index-app .app-info a {
	margin-top: 20px;
}

.testimonial {
	position: relative;
	height: 480px;
	background: url('../images/slide-bg.png') no-repeat;
	background-size: cover;
	text-align: center;
	color: #eee;
}

.testimonial .testi-icon {
	position: relative;
	top: 80px;
	left: 50%;
	margin-left: -60px;
	height: 120px;
	width: 120px;
	background: url('../images/1.jpg') no-repeat;
	border-radius: 50%;
}

.testimonial .testi-quote {
	position: relative;
	top: 26px;
	font-size: 26px;
	font-style: italic;
	color: #4d5b5d;
	line-height: 1.4;

}

.testimonial .testi-quote span {
	font-size: 20px;
}

.testimonial .btn-group {
	position: relative;
	top: 20px;
	left: 50%;
	margin-left: -34px;
}

.testimonial .btn-group .btn-item {
	float: left;
	height: 16px;
	width: 16px;
	margin: 50px 5px;
	border-radius: 50%;
	border: 1px solid #4d5b5d;
	background-color: #4d5b5d;
}
.testimonial .btn-group .btn-item a {
	color: #4d5b5d;
}

.testimonial .btn-group .active {
	border: 1px solid #eee;
	background-color: #eee;
} 

.testimonial .btn-group .active a {
	color: #eee;
}

.index-around {
	position: relative;
	padding: 80px 0;
	text-align: center;
}

.index-around h3 {
	font-size: 22px;
	color: #2d2d2d;
}

.index-map {
	position: relative;
	width: 700px;
	margin: 40px auto;
}